<div class='nav'>
    <div id='center'>
        <a href="{{ path('app_admin_experience')}}">Experience</a>
        <a href="{{ path('app_admin_project')}}">Project</a>
        <a href="{{ path('app_admin_profile')}}">Profile</a>
        <a href="{{ path('app_admin_skill_category')}}">Skill category</a>
    </div>
</div>